{% extends 'base.html.twig' %}

{% block title %}Cookie or not cookie ?{% endblock %}

{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">{% endblock %}

{% block body %}

<div class="container row mx-auto" style="margin-top: 50vh; transform: translateY(-50%);">
    <div class="col-6 mx-auto">
        <img class="w-100" src="http://image.noelshack.com/fichiers/2018/51/3/1545229564-sans-titre.png" alt="Click me">
    </div>
</div>

{% endblock %}
